body {
  background-color: white;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  text-align: center;
  /*mobile*/
}

h1 {
  font-family: 'DM Serif Display', serif;
  width: 700;
  color: white;
  font-size: 200%;
}

h2 {
  font-family: 'DM Serif Display', serif;
  color: hsl(270, 9%, 17%);
  font-size: 150%;
  width: 400;
  padding-top: 30px;
  padding-bottom: 10px;
}

h3 {
  font-family: 'DM Serif Display', serif;
  color: hsl(273, 4%, 51%);
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

p {
  color: hsl(273, 4%, 51%);
  width: 400;
  line-height: 2;
  z-index: 1;
  margin: 5%;
}

header {
  text-align: right;
  width: 100%;
  margin: 50px auto 50px auto;
}

a {
  text-decoration: none;
  color: hsl(270, 9%, 17%);
  line-height: 2;
  text-transform: uppercase;
   font-weight: bold;
}
span{
display: block;
}

footer {
  background-color: hsl(0, 0%, 98%);
}

/************************class selectror****************************/
.page {
  display: flex;
  flex-direction: column;
}

.top-cointainer {
  position: relative;
  width: 100%;
  background-color: hsl(256, 26%, 20%);
  color: hsl(216, 30%, 68%);
  margin-bottom: 75px;
}

.middle-cointainer {
  color: hsl(270, 9%, 17%);
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.bottom-cointainer {
  position: relative;
  background-color: hsl(256, 26%, 20%);
  width: 90%;
  height: 330px;
  margin: 0 auto 100px auto;
}

.h1-violet {
  color: hsl(270, 9%, 17%);
  padding-bottom: 30px;
}

.hr-screen {
  display: none;
  /*   border-top: 1px solid hsl(273, 4%, 51%);
   width: 50%;*/
}

.hr-middle-cointainer {
  border-top: 1px solid hsl(273, 4%, 51%);
  width: 30%;
  padding: 20px;
}

.hr-footer {
  position: relative;
  border-top: 1px solid hsl(273, 4%, 51%);
  width: 80%;
  margin-top: 10%;
  padding-top: 10%;
}

.btn {
  box-shadow: 0px 0px 0px 0px white;
  background-color: transparent;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px hsl(0, 0%, 98%);
}

.btn:hover {
  background-color: white;
  color: hsl(256, 26%, 20%);
}

.btn:active {
  position: relative;
  top: 1px;
}

.logo {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 10px;
}

.image-intro {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
}

.bg-pattern-intro-left {
  position: absolute;
  display: block;
  margin-left: 0%;
  z-index: 0;
}

.bg-pattern-intro-right {
  position: absolute;
  right: 0;
  margin-top: -50%;
  z-index: 0;
}

.text-intro {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  z-index: 1;
}
.bg-pattern-how-we-work{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.text-how-we-work{
position: relative;
padding-top: 80px;
padding-bottom: 25px;
z-index: 1;
}
.footer-cointainer{
  position: relative;
  width: 100%;
}
.logo-footer{
  position: absolute;
  top: auto;
  padding-top: 20%;
  margin: auto;
}
.bg-pattern-footer{
  position: absolute;
  top: 0;
  left: 0;
}
.icon{
  padding-top: 35%;
  padding-bottom: 20%
  margin: auto;
  display: inline-block;
}



/**********MEDIA QUERIES****/
@media screen and (min-width: 600px) {}

/*
  - Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography

### Body Copy

- Font size: 16px

### Headings

- Family: [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display)
- Weights: 400

### Body

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
